.modal {
  position: fixed;
  top: 10%;
  height: 80%;
  width: 80%;
  border-radius: 5% 5% 2% 2%;
  z-index: 20;
  background-color: white;
  border: 1px solid #d3d3d3;
  button {
    width: 50px;
    margin-left: calc(50% - 25px);
  }
}

.imagebox {
  position: relative;
  height: 95%;
  border-radius: 5% 5% 0 0;
  background-color: #d3d3d3;
  img {
    max-height: 100%;
    border-radius: 5%;
  }
}

@media (max-width: 480px) {
  .modal {
    left: 10%;
    width: 80%;
  }
}

@media (min-width: 480px) {
  .modal {
    left: 30%;
    width: 40%;
  }
}
