.headerDesktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #223659;
  position: sticky;
  top: 0px;
}

.headerMobile {
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  display: flex;
  align-content: center;
}

.active {
  background-color: #131e31ff;
}

.grid {
  display: grid;
}

@media (min-width: 600px) {
  .headerDesktop {
    padding: 2rem 10%;
  }
}

@media (min-width: 992px) {
  .headerMobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .headerDesktop {
    display: none;
  }
}
