.organeHeader,
.organeDescription,
.organeChef,
.documentHeader,
.membres,
.documents {
  text-align: center;
  margin: 2rem 0;
}

.organeDocuments {
  .listeDocuments {
    margin: 0 30%;
  }
  h2 {
    margin: 2rem;
  }
  a:hover {
    text-decoration: underline;
  }
  a:link {
    color: blue;
  }
  a:visited {
    color: purple;
  }
}

.listeDocuments li {
  list-style-position: inside;
  text-align: start;
}

.organeChefPhoto {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .organeHeader {
    margin: 4rem 0;
  }
}

@media (max-width: 320px) {
  .organeHeader {
    font-size: 1.5rem;
    margin: 4rem 1rem 2rem;
  }
  .documentHeader,
  .cardHeader {
    font-size: 1rem;
  }
  .organeDocuments {
    .listeDocuments {
      margin: 0 10%;
    }
  }
}


