.organeHeader,
.organeDescription,
.organeChef,
.membres,
.documents {
  text-align: center;
  margin: 2rem 0;
}

.documents {
  .listeDocuments {
    margin: 0 30%;
  }
  h2 {
    margin: 2rem;
  }
  a:hover {
    text-decoration: underline;
  }
  a:link {
    color: blue;
  }
  a:visited {
    color: purple;
  }
}

.listeDocuments li {
 list-style-position: inside;
 text-align: start;
}

.organeChefPhoto {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .organeHeader {
    margin: 4rem 0;
  }
}
